<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chart_expression0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{132,100}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{132,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{132,100}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{132,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{132,100}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{132,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{132,100}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{132,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,106},{128,124}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{128,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,106},{122,124}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,106},{122,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,106},{122,124}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,106},{116,118}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,106},{120,122}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,106},{122,124}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{120,122}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,232},{134,124}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{134,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,232},{144,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{144,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,232},{144,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{144,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,232},{140,136}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{140,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,232},{132,100}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{132,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,232},{128,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{128,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{124,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{124,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,370},{126,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{126,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,370},{132,100}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{132,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,370},{126,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{126,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,370},{118,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{118,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,370},{126,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{126,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,370},{136,100}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{136,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{130,96}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,472},{122,90}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{122,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,472},{130,96}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,472},{136,132}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{136,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,472},{130,108}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,472},{130,126}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{130,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,472},{130,108}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{132,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,606},{126,96}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{126,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,606},{120,92}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{120,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,606},{126,96}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{126,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,606},{122,132}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,606},{128,128}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,606},{134,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{134,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{128,128}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,740},{122,126}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{122,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,740},{116,118}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,740},{110,112}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{110,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chart_expression9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,740},{116,118}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameChatexpression.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8ae5d72bb7c15b13258b9f14c483e9$</string>
            <key>textureFileName</key>
            <string>GameChatexpression.png</string>
        </dict>
    </dict>
</plist>
